@tailwind base;
@tailwind components;
@tailwind utilities;


/* Default Cursor Styling */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  background-color: white; /* Default to white */
  transition: width 0.3s, height 0.3s, background-color 0.3s, transform 0.1s ease;
  transform: translate(-50%, -50%);
}

.cursor.biggerCursor {
  width: 70px;
  height: 70px;
}

/* Ensure proper stacking context */
body, html {
  background-color: white; /* or the desired color */
  position: relative;
  z-index: 0;
}

.getHover {
  background-color: black; /* Example: Make the element's background black */
}






/* styles/fonts.css */

@font-face {
  font-family: 'MonumentExtended';
  src: url('../src/Fonts/PPMonumentExtended-Black-BF645465a1e687b.otf') format('opentype');
  /* Add other font formats if needed */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('../src/Fonts/PPMonumentExtended-Light-BF645465a264007.otf') format('opentype');
  /* Add other font formats if needed */
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('../src/Fonts/PPMonumentExtended-Regular-BF645465a253250.otf') format('opentype');
  /* Add other font formats if needed */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'MonumentExtended';
  src: url('../src/Fonts/MonumentExtended-Ultrabold.otf') format('opentype');
  /* Add other font formats if needed */
  font-weight: bold;
  font-style: normal;
}

.nav-link {
  transition: color 0.3s;
}

.active-link {
  color:  #3b82f6;
}
.swiper-container {
  pointer-events: none;
}



/* Add these styles to your CSS file or a <style> block */
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.image-container:hover .text-overlay {
  color: blue;
  transform: scale(1.1) translateX(10px);
}

body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

